<div class='card'>
  <div class='card-header'>
    <h3>{{pageTitle}}</h3>
  </div>
  
  
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat
     nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h5>Recommended products</h5>
    <h6>Vegetables</h6>
      <ul>
          <li>aubergines</li>
          <li>beetroots</li>
          <li>peppers</li>
          <li>cabagge (fresh and soured)</li>
          <li>cucumbers (fresh and soured)</li>
          <li>courgettes</li>
          <li>carrots</li>
          <li>green salad</li>
          <li>parsnips</li>
          <li>pumpkin</li>
          <li>suede</li>
          <li>celery</li>
          <li>raddish</li>
        </ul>
    <h6>Fruit</h6>
        <ul>
        <li>apples</li>
        <li>pears</li>
        <li>strawberries</li>
        <li>raspberries</li>
        <li>blueberries</li>
        <li>blackberries</li>
        <li>oranges</li>
        <li>clementines</li>
        <li>tangerines</li>
        </ul>
    <h6>Other</h6>
        <ul>
        <li>lemon juice</li>
        <li>apple juice</li>
        <li>spieces</li>
        <li>herbs</li>
        <li>spring onions</li>
        <li>garlic</li>
        <li>salt and pepper</li>
        </ul>

        <a role="button" href="recipies.html" class="btn btn-outline-success my-2 my-sm-0 text-white text-uppercase" style="background-color: #5293A7;">browse recipies</a>
</div>
