.page-footer {
  background-color: white;
  color: #6BBCBF;
  padding: 30px 0 30px;
  text-align:bottom;
  justify-content: space-around;
}

.container {
	color: #6BBCBF;
	position: center;
		
}

.container-fluid {
  flex-direction: row;
}

  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   
}

h2 {
	color: #6BBCBF;
	text-align: left;	
	font-size: 3rem;
    margin: 3%;
    width: max-width;
    height: max-height;
    /*border: 3px solid green;*/
    padding: 3px;
    position: center;
}

h3{
	text-transform: uppercase;
	/*margin-top:2rem; makes white space on about vita image*/
	text-align:center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#slogan{
	margin-top:7rem;
}

h4
{
	
}

.row {
	height: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: #6BBCBF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid #6BBCBF;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom:5px;
  margin-top:5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #6BBCBF;
  color:white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*.background-image {
  /* The image used */
  /*background-image: url("heartshape.jpg");

  min-height: 580px;
  

  /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/*position:relative;*/
  
  


.navbar a:hover
{
	background-color: #6BBCBF;
	font-size:1.15rem;
	
}

/*.healthy-text {
	text-align:center;
	/*position:absolute; important;*/
	/*top: 50%;
	left: 50%;
	color: white;
	transform: translate (-50%, -50%);*/

/*w3 SCHOOLS*/	
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}